@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --black-color: #333333;
  --white-color: #ffffff;
  --gray-color: #fafafa;
  --gray-color02: #e9e9e9;
  --gray-color03: #9da5a0;
  --primary-color: #d9aacd;
  --secondary-color: #faaca8;
  --main-gradation: linear-gradient(140deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

/* ---------- base ---------- */

body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

/* クリックした際の青い枠線を削除 */
*:focus {
  outline: none;
}

/* タップした際の青い四角を削除 */
button,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/* ---------- utility ---------- */

@media screen and (min-width: 375px) {
  .u_sm-dn {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .u_lg-dn {
    display: none;
  }
}

/* ---------- layout ---------- */

.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 80px 0;
}

.l_header {
  height: 120px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-modal);
  background: var(--gray-color);
}

@media screen and (min-width: 768px) {
  .l_header {
    padding: 0 56px;
  }
}

.l_header-logo {
  height: 100%;
  font-size: 18px;
  font-family: 'Sawarabi Mincho', serif;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .l_header-logo {
    font-size: 24px;
  }
}

.l_header-logo_link {
  height: 100%;
  display: flex;
  align-items: center;
}

.l_header-nav {
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  bottom: 0;
  background: var(--main-gradation);
  opacity: 0.9;
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 768px) {
  .l_header-nav {
    left: 30%;
  }
}

@media screen and (min-width: 1080px) {
  .l_header-nav {
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    pointer-events: inherit;
  }
}

.l_header-nav_list {
  position: absolute;
  top: 33%;
  left: 33%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1080px) {
  .l_header-nav_list {
    display: flex;
    gap: 0 64px;
    position: static;
    transform: none;
  }
}

.l_header-nav_item {
  font-family: 'Sawarabi mincho', serif;
  text-align: left;
  font-size: 24px;
}

.l_header-nav_item:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .l_header-nav_item:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1080px) {
  .l_header-nav_item:hover .l_header-nav_list__sub {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s, visibility .3s;
  }
}

@media screen and (min-width: 1080px) {
  .l_header-nav_item__about {
    position: relative;
  }  
}

.l_header-nav_list__sub {
  font-size: 20px;
  margin-top: 16px;
  margin-left: 24px;
}

@media screen and (min-width: 1080px) {
  .l_header-nav_list__sub {
    position: absolute;
    top: 24px;
    transform: translateX(-10%);
    margin-left: 0;
    background: var(--gray-color);
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    opacity: 0;
    padding: 16px;
  }
}

.l_header-nav_item__sub {
  margin-top: 16px;
}


.l_footer {
  background: var(--main-gradation);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.l_footer-copyright {
  font-size: 14px;
}



/* ---------- module ---------- */
.m_section-title {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  position: relative;
}

.m_section-title::before {
  content: "";
  font-size: 16px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.m_section-title_about::before {
  content:"私について";
}

.m_section-title_works::before {
  content: "実績";
}

.m_section-title_cta::before {
  content: "連絡先";
}

.m_section-title::after {
  content: "";
  width: 60px;
  height: 5px;
  background: var(--main-gradation);
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.m_hamburger {
  width: 32px;
  height: 28px;
  position: relative;
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--gray-color03);
  left: 50%;
  transition: 0.3s;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

.m_btn-wrapper {
  width: 280px;
  height: 64px;
  border-radius: 100vh;
  display: block;
  margin: 56px auto 0;
}

.m_btn, .m_sm-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: var(--black-color);
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
}

.m_btn:hover {
  opacity: 0.8;
}

.m_btn__more {
  background: var(--main-gradation);
}

.m_btn__right-arrow {
  position: relative;
}

.m_btn__right-arrow::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: var(--black-color) var(--black-color) transparent transparent;
}

.m_sm-btn-wrapper {
  width: 154px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--black-color);
  background: var(--white-color);
  display: block;
  margin: 24px auto 0;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.m_sm-btn {
  font-weight: normal;
}

.m_cta_desc {
  margin-top: 110px;
  text-align: center;
}

.m_cta_sns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.m_cta_sns-icon-wrapper {
  width: 48px;
  height: 48px;
}

.m_section-heading {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 24px;
  position: relative;
  margin-left: 22px;
  letter-spacing: 0.1em;
}

.m_section-heading::before {
  content: "";
  width: 5px;
  height: 36px;
  background: var(--main-gradation);
  position: absolute;
  top: 4px;
  left: -22px;
}

/* ---------- Top ---------- */
.top_kv-wrapper {
  background: linear-gradient(rgba(157, 165, 160, 0.5), rgba(157, 165, 160, 0.5)),
  url(../img/img_kv.jpg) center center / cover;
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 120px;
}

.top_kv-box {
  width: 88%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(130deg, rgba(217, 170, 205, 0.3), rgba(250, 172, 168, 0.3));
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_kv-copy {
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .top_kv-copy {
    font-size: 32px;
  }
}

@media screen and (min-width: 1080px) {
  .top_kv-copy {
    font-size: 48px;
    max-height: 525px;
  }
}

.top_about_name {
  font-family: 'Sawarabi Mincho', serif;
  margin-top: 110px;
}

.top_about_name__jp {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .top_about_name__jp {
    font-size: 32px;
  }
}

.top_about_name__en {
  font-size: 24px;
  margin-left: 16px;
}

@media screen and (max-width: 320px) {
  .top_about_name__en {
    font-size: 16px;
  }
}

.top_about_desc {
  margin-top: 40px;
}

.top_works {
  background: var(--gray-color);
  overflow: hidden;
}

.top_works_contents {
  margin: 110px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

@media screen and (min-width: 1080px) {
  .top_works_contents {
    flex-direction: row;
  }
}

.top_works_content-wrapper {
  width: 100%;
  max-width: 343px;
  padding: 16px;
  flex-shrink: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background: var(--white-color);
}

.top_works_img-wrapper,
.top_works_img-wrapper__blank {
  width: 100%;
  height: 240px;
}

.top_works_img-wrapper__blank {
  background: var(--gray-color02);
}

.top_works_img {
  object-fit: cover;
  height: 100%;
}

.top_works_content-title {
  font-size: 20px;
  margin-top: 16px;
}

.top_works_content-tag {
  font-size: 12px;
  margin-top: 16px;
}

/* ---------- About ---------- */
.about_title {
  margin-top: 120px;
}

.about_content-wapper {
  margin: 110px auto 0;
  width: 100%;
  max-width: 900px;
}

@media screen and (min-width: 1080px) {
  .about_content-wapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
  }
}

.about_img-wrapper {
  width: 160px;
  height: 160px;
  position: relative;
  background: var(--gray-color02);
  margin: 0 auto;
}

.about_img-wrapper::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--main-gradation);
  z-index: var(--z-index-back);
}

@media screen and (min-width: 1080px) {
  .about_desc-box {
    width: 70%;
  }
}

.about_name {
  font-family: 'Sawarabi Mincho', serif;
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .about_name {
    margin-top: 0;
  }
}

.about_texts {
  margin-top: 32px;
}

.about_contents {
  width: 100%;
  max-width: 900px;
  margin-top: 80px;
}

.about_strength-wrapper {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .about_strength-wrapper {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1080px) {
  .about_strength-box {
    width: calc((100% - 40px) / 2);
  }
}

.about_strength-box:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .about_strength-box:not(:first-child) {
    margin-top: 0;
  }
}

.about_strength {
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

.about_strength_first {
  background: var(--primary-color);
}

.about_strength_second {
  background: var(--secondary-color);
}

.about_strength_desc {
  margin-top: 16px;
}

.about_skill,
.about_history {
  background: var(--gray-color);
}

@media screen and (min-width: 1080px) {
  .about_skill_contents {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.about_skill_content {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .about_skill_content {
    width: calc((100% - 40px) / 2);
  }
}

.about_skill_table {
  margin-top: 40px;
}

.about_skill_title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 24px;
}

.about_skill_table-row {
  border-bottom: 1px solid var(--gray-color03);
}

.about_skill_table-row:first-child {
  background: var(--gray-color02);
  border-top: 1px solid var(--gray-color03)
}

.about_skill_table-row:nth-child(2n) {
  background: var(--white-color);
}

.about_skill_table-head,
.about_skill_table-data {
  padding: 16px;
}

.about_tool_heading {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.about_tool_contents {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .about_tool_contents {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
  }
}

.about_tool_content {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .about_tool_content {
    width: calc((100% - 40px) / 2);
  }
}

.about_tool_content:not(:first-child) {
  margin-top: 48px;
}

@media screen and (min-width: 1080px) {
  .about_tool_content:not(:first-child) {
    margin-top: 0;
  }
}

.about_tool_items {
  width: 100%;
  margin-top: 32px;
}

.about_tool_item-wrapper {
  display: flex;
  align-items: center;
}

.about_tool_item-wrapper:not(:first-child) {
  margin-top: 32px;
}

.about_tool_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-image: 
  radial-gradient(var(--white-color) 55%, transparent 55%),
  conic-gradient(
    var(--primary-color) 0%,
    var(--secondary-color) 30%,
    var(--gray-color02) 30% 100%
  );
  font-size: 12px;
  flex-shrink: 0;
}

@media screen and (min-width: 1080px) {
  .about_tool_circle {
    width: 102px;
    height: 102px;
  }
}

.about_tool_circle__git {
  background-image: 
  radial-gradient(var(--white-color) 55%, transparent 55%),
  conic-gradient(
    var(--primary-color) 0%,
    var(--secondary-color) 10%,
    var(--gray-color02) 10% 100%
  );
}

.about_tool_circle__word {
  background-image: 
  radial-gradient(var(--white-color) 55%, transparent 55%),
  conic-gradient(
    var(--primary-color) 0%,
    var(--secondary-color) 40%,
    var(--gray-color02) 40% 100%
  );
}

.about_tool_circle__figma {
  background-image: 
  radial-gradient(var(--white-color) 55%, transparent 55%),
  conic-gradient(
    var(--primary-color) 0%,
    var(--secondary-color) 20%,
    var(--gray-color02) 20% 100%
  );
}

.about_tool_item-desc {
  font-size: 12px;
  margin-left: 16px;
}

.about_history_contents {
  margin-top: 48px;
}

.about_history_list {
  max-width: 400px;
  list-style: none;
  margin: 0 auto 6em;
  padding-left: 20px;
  border-left: 2px solid var(--primary-color);
  box-sizing: border-box;
  position: relative;
}

.about_history_list::after {
  content: "";
  width: 16px;
  height: 16px;
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  transform: translateX(-29px) rotate(45deg);
  position: absolute;
  bottom: 0;
}

.about_history_item {
  width: 100%;
  margin: 0 0;
  padding: 16px 0;
  position: relative;
}

.about_history_item:first-child {
  padding-top: 0;
}

.about_history_year {
  width: 5em;
  display: inline-block;
  margin-left: -8em;
  padding: 0 0 5px;
  vertical-align: top;
  position: relative;
  text-align: right;
  box-sizing: border-box;
}

.about_history_year::after {
  content: "";
  position: absolute;
  right: -32px;
  top: 10px;
  background: var(--primary-color);
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.about_history_desc-wrapper {
  display: inline-block;
  width: 100%;
  margin-left: 30px;
  padding: 8px 24px;
  vertical-align: middle;
  background: var(--white-color);
  box-sizing: border-box;
}

.about_history_desc {  
  font-size: 12px;
}


/* ---------- Works ---------- */
.works_title {
  margin-top: 120px;
}

.works_section {
  background: var(--white-color);
}

/* ---------- Works-single ---------- */
.works-single_kv-wrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .works-single_kv__sp {
    display: none;
  }
}

.works-single_kv__pc {
  display: none;
}


@media screen and (min-width: 768px) {
  .works-single_kv__pc {
    display: block;
  }
}

.works-single_title {
  font-size: 24px;
  font-family: 'Sawarabi Mincho', serif;
}

@media screen and (min-width: 1080px) {
  .works-single_title {
    font-size: 32px;
  }
}

.works-single_tag {
  margin-top: 16px;
}

@media screen and (min-width: 1080px) {
  .works-single_tag {
    font-size: 24px;
  }
}

.works-single_contents {
  margin-top: 32px;
}

.works-single_content-title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
}

.works-single_content-title:first-child {
  border-top: 1px solid var(--gray-color02);
}

.works-single_content-data {
  padding: 8px 0 16px;
  border-bottom: 1px solid var(--gray-color02);
}

.about_content-wapper {
  width: 100%;
}

.works-single_slideshow {
  width: 100%;
  max-width: 900px;
  height: 600px;
  margin-top: 32px;
}

/* ---------- js ---------- */
.l_header.js_header_fixed {
  position: fixed;
  background: var(--gray-color);
  transition: 0.3s ease;
  top: 0;
}

.js_navigation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (min-width: 1080px) {
  .js_navigation {
    pointer-events: auto;
    opacity: 1;
  }
}

.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}

.js_hamburger.is-active {
  background: transparent;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}
